html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    div(id='root')
    script(src='http://localhost:8080/login.bundle.js', type='text/javascript')
